<header>
    <div class="toggler-logo">
        <div 
            class="button-toggle-sidebar" 
            (click)="onSideBarToggled()"
        >
        @if (isSideNavToggled()) {
            <fa-icon [icon]="'faArrowRight' | convertStringLabelToFontawesomeIcon"></fa-icon>
        }
        @else {
            <fa-icon [icon]="'faArrowLeft' | convertStringLabelToFontawesomeIcon"></fa-icon> 
        }
        </div>
        <h1 routerLink="/tableau-de-bord">Project Name</h1>
    </div>
    <nav>
        <ul>
          <li>
            <app-user-connected-menu-side-bar></app-user-connected-menu-side-bar>
          </li>
        </ul>
      </nav>
</header>