<div class="user-connected-menu-side-bar">
  <div class="user-connected" (click)="onUserMenuClick()">
    <fa-icon [icon]="'faUser' | convertStringLabelToFontawesomeIcon"></fa-icon>
  </div>

  <p-sidebar
    styleClass="user-side-bar"
    [(visible)]="sideBarDisplayed"
    position="right"
    [blockScroll]="true"
  >
    <ng-template pTemplate="content">
      <div class="top">user-panel</div>
    </ng-template>
  </p-sidebar>

  <p-confirmDialog styleClass="confirm-delete-dialog"> </p-confirmDialog>

  <p-toast position="top-right"></p-toast>
</div>
