:root{    
    --project-black-primary-color : #111010;
    --project-white-primary-color : #fefefe;
    --project-white-secondary-color : #8c8c8c;
    --projec-white-tertiary-color : #a6a6a6;
    --project-green-primary-color: #2a5d46;
    --project-green-secondary-color: #55b6b2;
    --project-green-tertiary-color: #e4eae8;

}